.overview_info_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 15px;
  padding-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;

  @media screen and (max-width: 400px){
    padding: 25px 12px;
    padding-bottom: 15px;
  }

  h6 {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.44px;
    color: #19191D;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 1em;
    color: #9696A0;
  }

  img {
    cursor: pointer;
  }
}