.sub_section_header {
  display: flex;
  align-items: center;

  .icon {
    width: 31px;
    height: 31px;
    margin-right: 15px;
  }

  h4 {
    margin: 0;
    font-weight: 500;
    font-size: 0.875em;
    color: #000000;
  }
}