.navbar {
  padding: 0px 25px !important;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(220, 225, 231, 0.572143);
  
  @media screen and (max-width: 990px){
    padding: 10px 25px !important;
  }
  
  @media screen and (max-width: 550px){
    padding: 10px 12px !important;
  }

  .container-fluid {
    padding: 0px;

    .logo_div {
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: none;
      }

      img {
        margin-left: -3px;
        width: 40px;
      }

      p {
        margin: 0;
        font-weight: 600;
        font-size: 0.875em;
        color: #000000;
      }
    }

    .navbar-toggler {
      padding: 0;

      &:focus {
        outline: none;
      }

      .navbar-toggler-icon {
        height: auto;

        .menu {
          width: 28px;
          height: auto;
          cursor: pointer;
        }
      }
    }

    .navbar-collapse {
      @media screen and (max-width: 990px){
        padding-top: 10px;
      }

      &.hide {
        display: none;
      }

      .mr-auto {
        padding-bottom: 1px;
        padding-left: 50px;

        @media screen and (max-width: 990px){
          padding: 0;
        }

        .nav-item {
          display: flex;
          align-items: center;
          margin: 0;
          margin-right: 6px;
          padding: 17px 13px;
          padding-bottom: 14px;
          color: #778699;
          border-bottom: 4px solid #FFFFFF;

          @media screen and (max-width: 990px){
            margin: 0px;
            padding: 14px 13px;
            padding-bottom: 11px;
          }
          
          &:hover {
            text-decoration: none;
            background: #DEEFFF;
            border-bottom: 4px solid #DEEFFF;
          }
          &.active {
            background: #DEEFFF;
            border-bottom: 4px solid #006FD6;
  
            p {
              font-weight: bold;
              color: #006FD6;
            }
          }
  
          .icon {
            width: 16px;
            height: 16px;
          }
  
          p {
            margin: 1px 0px 0px 8px;
            font-weight: 400;
            font-size: 0.875em;
          }
        }
      }

      .mr-right {
        display: flex;
        align-items: center;

        @media screen and (max-width: 990px){
          justify-content: flex-end;
          flex-direction: row;
          margin-top: 12px;
        }
  
        @media screen and (max-width: 375px){
          display: block;
        }

        .d-flex {
          align-items: center;
  
          @media screen and (max-width: 990px){
            .dropdown-menu {
              position: absolute;
              right: 10px;
            }
          }
  
          @media screen and (max-width: 375px){
            justify-content: space-between;
            margin-top: 10px;
          }
        }
        
        .nav-item {
          padding: 0;
          margin-right: 32px;
  
          @media screen and (max-width: 375px){
            &:nth-child(1) {
              margin-right: 0px;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          .notification_img {
            width: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}