.status_div {
  padding: 5px 12px;
  padding-bottom: 3px;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 11px;

  p {
    margin: 0;
    margin-top: -2px;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 0.875em;
    font-weight: 500;
  }

  &.success {
    background: #F6F3FF;

    p {
      color: #8C70FF;
    }
  }

  &.warning {
    background: #fff3cd;

    p {
      color: #F4B400;
    }
  }
}

.risk_div {
  display: flex;
  align-items: center;

  &.low {
    color: #3AB65C;
  }
  &.mid {
    color: #3C3AB6;
  }
  &.high {
    color: #B63A3A;
  }

  img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    object-fit: none;
  }

  p {
    margin: 0;
    font-size: 0.875em;
    font-weight: 500;
  }
}