@font-face {
  font-family: 'ProductSans';
  font-weight: 700;
  src: local('ProductSans'), url(./assets/font/ProductSans-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'ProductSans';
  font-weight: 600;
  src: local('ProductSans'), url(./assets/font/ProductSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'ProductSans';
  font-weight: 500;
  src: local('ProductSans'), url(./assets/font/ProductSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'ProductSans';
  font-weight: 400;
  src: local('ProductSans'), url(./assets/font/ProductSans-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'ProductSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  padding: 0px 25px !important;
}

@media screen and (max-width: 550px){
  .section {
    padding: 0px 12px !important;
  }
}
